* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: arial;
}
body {
  background: url(pic.jpg);
  background-position: cover;
  background-size: center;
  display: flex;
  min-height: 100vh;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  background: red;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
}
.home {
  font-size: 2em;
  color: #fff;
  user-select: none;
}

.navigation a {
  position: relative;
  font-size: 1.1em;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  margin-left: 40px;
}
button {
  height: 40px;
  width: 130px;
  padding: 6px 30px;
  font-size: 1.1em;
  border: 2px solid #fff;
  border-radius: 6px;
  cursor: pointer;
  margin-left: 50px;
  background: transparent;
  outline: none;
  color: #fff;
  transition: .5s;
}
.navigation button:hover {
  background: #fff;
  color: #162938;
}