* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Charlie Text",sans-serif;
}
body {
  background: url(pic.jpg) no-repeat;
  background-position: center;
  background-size: cover; 
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
}
.home {
  font-size: 2em;
  color: #fff;
  user-select: none;
}

.navigation a {
  position: relative;
  font-size: 1.1em;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  margin-left: 40px;
}
button {
  height: 40px;
  width: 130px;
  padding: 6px 30px;
  font-size: 1.1em;
  border: 2px solid #fff;
  border-radius: 6px;
  cursor: pointer;
  margin-left: 50px;
  background: transparent;
  outline: none;
  color: #fff;
  transition: .5s;
}
.navigation button:hover {
  background: #fff;
  color: #162938;
}
.navigation a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 3px;
  background: #fff;
  border-radius: 4px;
  transform-origin: right;
  transform: scale(0);
  transition: transform .5s;
}
.navigation a:hover::after {
  transform: scale(1);
  transform-origin: right;
}
.fingerprint-icon {
  width: 50px;
  height: 100px;
  color: #fff;
  font-family: "Charlie Text", sans-serif;
}

.wrapper {
  color: #fff;
  position: relative;
  width: 400px;
  height: 440px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, .5);
  border-radius: 20px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 30px rgba(0, 0, 0, .5);
  display: flex;
  justify-content: center;
  align-items: center
}
.lgn-button {
  border: 1px solid #fff;
  padding: 5px 15px;
  height: 30px;
  font-size: 14px;
}
.lgn-button:hover {
  color: #000;
  background: #fff;
  font-size: 14px solid;
}
.lgn-formbox {
  align-items: center;
  display: relative;
  text-align: center;
}
.input-box {
  position: relative;
  width: 100%;
  height: 50px;
  border-bottom: 2px solid #000;
  margin: 30px 0;
}

