* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: arial;
}
body {
  background: url(pic.jpg);
  background-position: center;
  background-size: center;
  display: flex;
  min-height: 100vh;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  background: red;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
}
.home {
  font-size: 2em;
  color: #fff;
  user-select: none;
  text-decoration: none;
  font-weight: 500;
}
button {
  height: 40px;
  width: 150px;
  padding: 6px 30px;
  font-size: 1.1em;
  border: 2px solid #000;
  border-radius: 10px;
}
